/* You can add global styles to this file, and also import other style files */
// src/styles.scss
/* Importing Bootstrap SCSS file. */
// src/styles.scss
@use 'bootstrap/scss/bootstrap' as *;

body {
  padding: 1rem;
}

/* Custom styles */
.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
}